In [119]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [120]:
#print the column names
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [121]:
################Player Count################

#to print unique names
unique_names = purchase_data.nunique()

#Display the total number of players
player_count = unique_names ["SN"].sum()

#convert into dataframe
player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

In [122]:
################Purchasing Analysis (Total)################

#Number of Unique Items
unique_item = purchase_data ["Item ID"].nunique()

#Average Price
average_price = purchase_data["Price"].mean()

#Number of Purchase
num_of_purchase = purchase_data ["Purchase ID"].nunique()

#Total Revenue
total_revenue = average_price * num_of_purchase

#convert into dataframe
purchase_analysis_total_df = pd.DataFrame({"Number of Unique Items":[unique_item], "Average Price":[average_price],"Number of Purchases":[num_of_purchase], "Total Revenue":[total_revenue]})

#Format the average price and total revenue
purchase_analysis_total_df.style.format({'Average Price':"${:,.2f}",'Total Revenue':"${:,.2f}"})

In [123]:
################Gender Demographics################

#Purchase data by gender
gender_count = purchase_data.groupby("Gender")

#Count the total of "SN" by gender
total_count_gender = gender_count["SN"].nunique()

#Total count by gender and divide by total players 
percentage_players = (total_count_gender/player_count)*100

#convert into dataframe
gender_demographics = pd.DataFrame({"Total Count": total_count_gender,"Percentage of Players": percentage_players})

#Format the total count and percentage of players
gender_demographics.style.format({'Percentage of Players':"{:,.2f}"})

In [124]:
################Purchasing Analysis (Gender)################

#Purchase count by gender
purchase_count = gender_count["Purchase ID"].count()

#Average Purchase price by gender
avg_purchase_price = gender_count["Price"].mean()

#Total Purchase value by gender
total_purchase_value = gender_count["Price"].sum()

#Total purchase value divided by total count by gender
avg_purchase_per_person = total_purchase_value / total_count_gender

#convert into dataframe
purchase_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count,"Average Purchase Price": avg_purchase_price,"Total Purchase Value": total_purchase_value,"Avg Total Purchase per Person": avg_purchase_per_person})

#Format the average purchase price,total purchase value and average total purchase per person
purchase_analysis_gender.style.format({'Average Purchase Price':"${:,.2f}",'Total Purchase Value':"${:,.2f}",'Avg Total Purchase per Person':"${:,.2f}"})

In [125]:
################Age Demographics################

#Establish bins for ages
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,999]

#create name for each bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Sort age with the bins for the players
purchase_data["Grouped_Age"]= pd.cut(purchase_data["Age"],bins, labels=group_names)

#purchase data by age
age_grouped = purchase_data.groupby("Grouped_Age")

#Count the total of "SN" by age grouped
total_count_age = age_grouped["SN"].nunique()

#Total count by age grouped and divivde by total players 
percentage_of_age = (total_count_age/player_count)*100

#convert into dataframe
Age_demographics = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players": percentage_of_age})

#Format the percentage of players
Age_demographics.style.format({'Percentage of Players':"{:,.2f}"})

In [126]:
################Purchasing Analysis (Age)################

#Purchase count by age group
purchase_count_age = age_grouped["Purchase ID"].count()

#Average Purchase price by age group
avg_purchase_price_age = age_grouped["Price"].mean()

#Total Purchase Value by age group
total_purchase_value_age = age_grouped["Price"].sum()

#Total purchase value by age group divided by total count by age group
avg_purchase_per_person_age = total_purchase_value_age / total_count_age

#convert into dataframe
purchase_analysis_age = pd.DataFrame({"Purchase Count":purchase_count_age ,"Average Purchase Price": avg_purchase_price_age,"Total Purchase Value": total_purchase_value_age,"Avg Total Purchase per Person": avg_purchase_per_person_age})

#Format the average purchase price,total purchase value and average total purchase per person by age group
purchase_analysis_age.style.format({'Average Purchase Price':"${:,.2f}",'Total Purchase Value':"${:,.2f}",'Avg Total Purchase per Person':"${:,.2f}"})

In [127]:
################Top Spenders################

#Purchase data by spender
spender_count = purchase_data.groupby("SN")

#Count the total of "SN" by spender
total_count_spender = spender_count["SN"].nunique()

#Purchase count by spender
purchase_count_spender = spender_count["Purchase ID"].count()

#Average Purchase price by spender
avg_purchase_price_spender = spender_count["Price"].mean()

#Total Purchase value by spender
total_purchase_value_spender = spender_count["Price"].sum()

#Convert into dataframe
purchase_analysis_spender = pd.DataFrame({"Purchase Count": purchase_count_spender,"Average Purchase Price": avg_purchase_price_spender,"Total Purchase Value": total_purchase_value_spender})

#Sort the total purchase value in descending order
descending_spenders = purchase_analysis_spender.sort_values(["Total Purchase Value"], ascending = False)

#Format the average purchase price and total purchase value
descending_spenders.head().style.format({'Average Purchase Price':"${:,.2f}",'Total Purchase Value':"${:,.2f}"})

In [128]:
################Most Popular Items################

#groupby Item ID, Item Name
item_count = purchase_data.groupby(["Item ID","Item Name"])

#calculation to obtain popular items purchase count
item_purchase_count = item_count["Price"].count()

#calculation to obtain popular items total purchase value
item_total_purchase_value= item_count["Price"].sum()

#calculation to obtain the item price
item_price = item_total_purchase_value / item_purchase_count

#Convert into dataframe
popular_item_df = pd.DataFrame({"Purchase Count": item_purchase_count ,"Item Price": item_price,"Total Purchase Value": item_total_purchase_value})

#Sort the purchase count column in descending order
descending_item_purchase_count = popular_item_df.sort_values(["Purchase Count"], ascending = False)

#Format the item price and total purchase value
descending_item.head().style.format({'Item Price':"${:,.2f}",'Total Purchase Value':"${:,.2f}"})

In [129]:
################Most Profitable Items################

#Sort the above table by total purchase value in descending order
descending_item_total_purchase_value = popular_item_df.sort_values(["Total Purchase Value"], ascending = False)

#Format the item price and total purchase value
descending_item_total_purchase_value.head().style.format({'Item Price':"${:,.2f}",'Total Purchase Value':"${:,.2f}"})